<a id="main-section"></a>
<section class="main-section main-section--full-height-mask">
  <header class="main-section__header main-section__header--middle-width">
    <h1 class="main-section__title">
      <b class="main-section__bold">{{main-section.title}}</b>
    </h1>
  </header>
  <img
    class="main-section__image js-main-section__image"
    src="assets/images/cable-cadena.jpg"
    alt="{{main-section.image-alt}}"
  />
  <div class="main-section__content">
    <p>
      {{main-section.p}}
    </p>
  </div>
</section>